* {
    -webkit-appearance: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 200;
    color: #dcdcdc;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #a84242;
}

.keys {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #1e1e1e;
    border-radius: 2rem;
    border: 1px solid #2e2e2e;
    box-shadow: 0.5rem 0.5rem 1rem #00000090;
    margin: 0 4rem;
}

.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #1e1e1e;
    border: 2px solid #737373;
    border-radius: 0.5rem;
    height: 92px;
    width: 92px;
    box-shadow: 0 0 1rem #000000;
    transition: all 0.1s;
    flex: 0 0 auto;
}

.playing {
    border: 2px solid #64fc64;
    transform:scale(0.95);
    box-shadow: 0 0 2rem #64fc6480;
}

.playing > h1 {
    color: #ffffff;
    font-weight: 800;
    text-shadow: #ffffff80;
}

.playing > p {
    color: #ffffff;
    font-weight: 800;
    text-shadow: #ffffff80;
}