* {
    -webkit-appearance: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 200;
    color: #b9b9b9;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: row wrap;
    gap: 16px;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #323232;
}

.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #1e1e1e;
    border: 2px solid #737373;
    border-radius: 8px;
    height: 92px;
    width: 92px;
    box-shadow: 0 0 16px #000000;
    transition: all 0.05s;
}

.playing {
    border: 2px solid #64fc64;
    transform:scale(0.96);
    box-shadow: 0 0 24px #64fc6450;
}